<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Office.Interop.Word, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxQueryStringLength="32768" maxUrlLength="65536"/>
  </system.web>
  <appSettings>
    <!--<add key="ServerName" value="DE1DASEST02\TSSS001"/>
    <add key="Database" value="OHXconfiguration.db"/>
    <add key="DefualtUserID" value="user_assembly_config"/>
    <add key="DefualtPassword" value="user_assembly_config"/>
    <add key="LDAPDomainName" value="SULZER"/>
    <add key="LDAPConnectionString" value="LDAP://DC=sulzer,DC=com"/>
    <add key="USER_GROUP" value="PE_CH_HPTCONFUSERSTEST"/>
    <add key="ADMIN_GROUP" value="PE_CH_HPTCONFADMINTEST"/>-->
    <add key="ServerName" value="IESKPC764\SQLEXPRESS"/>
    <add key="Database" value="dbOHXBudget"/>
    <add key="DefualtUserID" value="testuser"/>
    <add key="DefualtPassword" value="testuser"/>
    <add key="LDAPDomainName" value="LNTIES"/>
    <add key="LDAPConnectionString" value="LDAP://DC=lnties,DC=com"/>
    <add key="USER_GROUP" value="EAD_USERS_IES"/>
    <add key="ADMIN_GROUP" value="EAD_USERS_IES"/>

    <add key="UserName" value="SulzerAdminUser"/>
    <add key="Password" value="SulzerAdminUser"/>
    <add key="DisplayName" value="Sulzer Admin"/>
  </appSettings>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.0.0" newVersion="2.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>