.GridView {
     overflow:scroll;
}

    .GridView th {
        background-color: #4186E1;
        color: White;
        height: 18px;
        border: 1px solid white;
        padding: 7px;
        vertical-align: middle;
        text-align: center;
    }

    .GridView tr {
        vertical-align: middle;
        border: 1px solid white;
        text-align: center;
    }

    .GridView td {
        border: 1px solid white;
        padding: 3px;
        word-wrap: break-word;
    }